/* Here is where the fonts styles start  */
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@font-face {
    font-family: 'Syne Mono', monospace;
    font-style: normal;
    font-weight: 32;
    src: url(FONT_FILE_NAME.woff2) format('woff2');
  }